{{!< default}} <style>
    .featured-wrapper {
    margin-top: 0rem !important;
    }
    .feed-header-wrapper {
    align-items: flex-end;
    border-bottom: 0px solid var(--light-gray-color) !important;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0rem;
    margin-top: 50px;
    }
    .line_outr{
    display: flex;
    justify-content:start;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    width: 200px;
    padding-top: 10px;
    }
    .line_inr{
    width: 30%;
    height: 4px;
    background-color: #02cce6;
    }
    .line_inr_one{
    width: 60%;
    }
    .tag-description{
    color: white;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    }
    .feed-image.fm{

    flex-shrink: 0;
    margin-right: 2.5rem;
    width: 30%;

    }
    .fm .u-object-fit {
    height: 100%;
    left: 0;
    object-fit: contain;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 8px;
    }


    </style>

    {{#if @custom.show_featured_posts}}
    {{> "featured-posts"}}
    {{/if}}

    <header class="feed-header gh-canvas">
        {{#if @custom.branded_feed_title}}
        <div class="feed-header-wrapper">
            {{!-- <h2 class="feed-header-title">{{@custom.homepage_feed_title}}</h2> --}}
            <h2 class="feed-header-title">{{@custom.branded_feed_title}} </h2>


        </div>
        <span class="line_outr">
            <span class="line_inr line_inr_one"></span>
            <span class="line_inr"></span>
        </span>
        {{/if}}
    </header>

    <div class="post-feed  expanded gh-feed gh-canvas">
        {{!-- {{#get 'tags' filter="visibility:public" limit="all" order="count.posts desc" as |posts|}}
        {{#foreach posts}}
        {{> "loop"}}
        {{/foreach}}
        {{/get}} --}}

        {{!-- {{#get 'posts' order="published_at desc" as |posts|}} --}}

        {{#if 'posts'}}
        {{#foreach posts}}
        {{> "tag-loop"}}
        {{/foreach}}
        {{/if}}
        {{pagination}}

        {{!-- {{/get}} --}}

        {{!-- --}}

        {{!-- {{#get "posts" limit="all" filter="visibility:public" order="published_at desc" include ="tags" as
        |related|}}

        {{#if related}}
        <section class="related-wrapper gh-canvas">

            <div class="post-feed expanded related-feed">
                {{#foreach posts}}
                {{> "loop"}}
                {{/foreach}}
            </div>
        </section>
        {{/if}}
        {{pagination}}
        {{/get}} --}}
    </div>
